.features {
    padding: 7rem 4rem;


    grid-row: 6 / 7;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: max-content repeat(2, 1fr);
    grid-column-gap: 3rem;
    
    @media screen and (min-width: $bp-small) {
        grid-template-rows: max-content 1fr;
        grid-template-columns: repeat(4, 1fr);
    }

    &__box {
        text-align: center;
        margin-bottom: 4rem;


        

        @media screen and (min-width: $bp-small) {
            grid-row: 2 / 3;
        }

        @media screen and (min-width: $bp-small) {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 8rem;
        height: 8rem;
        fill: $color-primary;
    }

    &__text {
        font-size: 2rem;
    }
}