.mb-small {margin-bottom: 1.5rem !important;}
.mb-medium {margin-bottom: 3rem !important;}
.mb-large {margin-bottom: 5rem !important;}
.mb-huge {margin-bottom: 8rem !important;}

.mt-small {margin-top: 1.5rem !important;}
.mt-medium {margin-top: 3rem !important;}
.mt-large {margin-top: 5rem !important;}
.mt-huge {margin-top: 8rem !important;}