.footer {
    background-color: $color-grey-dark-3;
    padding: 7rem 4rem;

    grid-row: 10 / 11;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: max-content 1fr;
    grid-column-gap: 3rem;
    justify-items: center;


    &__text {
        font-size: 1.6rem;
        margin: 2rem 0;
    }

    &__list {list-style: none; margin-top: 2rem;}

    &__item {

        &:not(last-of-type) {
            margin-bottom: 1.5rem;
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;
        font-size: 1.6rem;
        font-family: $font-display;
        transition: color .2s;

        &:hover {color: $color-grey-light-1;}
    }

    &__icon {
        width: 1.5rem;
        height: 1.5rem;
        margin-top: 1rem;
        transition: fill .4s;
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: 1rem;
        }
    }

    &__copyright {
        grid-column: 1 / -1;
        margin-top: 5rem;
        font-size: 1.8rem;
    }
 
    .facebook:hover {fill: #3b5998};
    .twitter:hover {fill: #55acee};
    .instagram:hover {fill: #e4405f};
    .vimeo:hover {fill: #1ab7ea};

}