.features {
    padding: 7rem 4rem;


    grid-row: 6 / 7;
    grid-column: full-start / full-end;

    display: grid;
    grid-template-rows: max-content 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 3rem;


    &__box {
        grid-row: 2 / 3;
        text-align: center;
    }

    &__icon {
        width: 8rem;
        height: 8rem;
        fill: $color-primary;
    }

    &__text {
        font-size: 2rem;
    }
}